:root {
  --color-background: whitesmoke;
  --primary: #111111;
  --secondary: #cacaca;
  --logo: #e60022;
  --transparent: rgba(245, 245, 245, 0.862);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-background);
  color: var(--primary);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.dark {
  background-color: var(--primary);
  color: var(--color-background);
}

a {
  text-decoration: none;
  color: inherit;
}

.active {
  background-color: var(--primary);
  color: var(--color-background);
  padding: 1rem 1.4rem;
  border-radius: 2rem;
}

li {
  list-style-type: none;
}

/* GALLERY STYLES */
.gallery {
  padding: 0 1rem;
  display: grid;
  grid-auto-rows: 200px;
  gap: 1rem;
  grid-auto-flow: row dense;
}

@media screen and (min-width: 576px) {
  .gallery {
    grid-template-columns: repeat(1, fr);
  }
}

@media screen and (min-width: 768px) {
  .gallery {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 992px) {
  .gallery {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (min-width: 1200px) {
  .gallery {
    grid-template-columns: repeat(6, 1fr);
  }
}
